{include file="public/header" /}
</head>

<body style="background: #f0f0f0;">
    <header class="mui-bar mui-bar-nav bg_white" id="header">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="javascript:;"></a>
        <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="javascript:;"></a>
        <h1 class="mui-title">Select delivery address</h1>
    </header>
    <div class="mui-content">
        <ul class="address_ul hide">

        </ul>
        <a class="address_btn" href="/wap/user/address.html">Administration</a>
    </div>

    {include file="public/head_nav"/} {include file="public/footer"/}
    <script type="text/html" id="list">
        <li data-id="{{address_id}}" class="select_address">
            <div class="address_top">
                <h3>{{consignee}}</h3>
                <span class="fr text_52">{{mobile}}</span> {{ if is_default==1 }}
                <p class="text_52"><span class="text_orange">[default address]</span> {{address_detail}}</p>
                {{ else }}
                <p class="text_52">{{address_detail}}</p>
                {{ /if end }}
            </div>
        </li>
    </script>
    <script type="text/javascript">
        var id = getQueryString("id");
        var goods_id = getQueryString("goods_id");
        var num = getQueryString("num");
        var goods_spec_key = getQueryString("goods_spec_key");

        $get('/api/address/get_addressList', {}, function(data) {
            if (data.status == 1) {
                $('.address_ul').show();
                var list = "";
                for (var i in data.data) {
                    list += template("list", data.data[i]);
                }
                $('.address_ul').html(list);
            } else {
                // mui.toast(data.msg);
                $('.null_message').show();
            }
        });
        $('.mui-content').on('tap', '.address_ul>li', function() {
            var address_id = $(this).attr('data-id');
            if (goods_id) {
                window.location.href = "/wap/user/buy_now.html?address_id=" + address_id + "&goods_id=" + goods_id + "&num=" + num + "&goods_spec_key=" + goods_spec_key;
            } else if(id){
                window.location.href = "/wap/user/auction_take.html?address_id=" + address_id+'&id='+id;
            }else {
                window.location.href = "/wap/user/buy_now.html?address_id=" + address_id;
            }
        });

        // address bar information    
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }
    </script>
</body>

</html>