{include file="public/header"/}
<style>
    #mescroll {
        position: fixed;
        top: 1rem;
        bottom: 65px;
        left: 0;
        width: 100%;
    }

    .street_nav ul>li span,
    .street_nav i {
        color: #bbb;
    }

    .search_listup ul>li {
        width: 33%;
        text-align: center !important;
    }

    .street_nav ul>li span {
        line-height: 25px;
        width: 88%;
    }

    .street_nav .on span,
    .street_nav .on i {
        color: #fff !important;
        background: #c0a065;
        border-radius: 5px;
    }

    .street_nav i {
        margin: 0 5px;
    }
</style>
</head>

<body>
    <header class="mui-bar mui-bar-nav index_header search_head" id="header">
        <div class="mui-title">Auction Hall</div>
    </header>
    <div class="street_nav search_listup">
        <ul class="mui-clearfix">
            <li class="search_li on" data-list="colligate">
                <a href="javascript:void(0);">
                    <span><i class="iconfont icon-shop"></i>Top Picks</span>
                </a>
            </li>
            <li class="search_li s_li" data-list="sales_num">
                <a href="javascript:void(0);">
                    <span><i class="iconfont icon-miaosha"></i>Auction preview</span>
                </a>
            </li>
            <li class="search_li s_li" data-list="sales_num">
                <a href="javascript:void(0);">
                    <span><i class="iconfont icon-baodan"></i>Historical auctions</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="mui-content">
        <div class="search_listlow search_small">
            <div id="mescroll" class="mescroll">
                <ul id="dataList">
                    <!-- <li><a href="/wap/user/auction_detail.html">
                            <div class="searimg"><img src="__IMG__/class.png" alt=""></div>
                            <div class="seartxt">
                                <p class="name mui-ellipsis">Women's clothing</p>
                                <p class="red">Current price <span class="font-16">20.00</span>KRC</p>
                                <span class="font-14">Expected to close at <span class="font-14">12:00</span> today</span>
                            </div>
                        </a></li> -->
                </ul>
            </div>
        </div>
    </div>
    {include file="public/nav"/}
    {include file="public/footer"/}
    <script type="text/template" id="list">
        {{ if is_private==1}}
        <li onclick="next(1,{{id}})">
            {{ else }}
            <li onclick="next(0,{{id}})">
            {{ /if}}
            <a href="javascript:;">
            {{ if goods_img}}
            <div class="searimg"><img src="{{goods_img}}" alt=""></div>
            {{ else }}
            <div class="searimg"><img src="__IMG__/class.png" alt=""></div>
            {{ /if }}
            <div class="seartxt">
                <p class="name mui-ellipsis">{{goods_name}}</p>
                {{ if is_finish == 2}}
                <p class="red">Sold price <span class="font-16">{{price}}</span>KRC</p>
                {{ else if is_finish == 1}}
                <p class="red">Starting price <span class="font-16">{{price}}</span>KRC</p>
                {{ else }}
                <p class="red">Current price <span class="font-16">{{price}}</span>KRC</p>
                {{ /if}}
                {{if is_finish==1}}
                <span class="font-14 text_green">{{start_time}}start</span>
                {{ else if is_finish==2}}
                <span class="font-14">{{end_time}}end</span>
                {{ else if is_finish==3}}
                <span class="font-14 text_red">In progress</span>
                {{ /if}}
            </div>
            </a>
        </li>
    </script>
    <script>
        var type = 0;
        $('.street_nav .search_li').on('tap', function () {
            $(this).addClass('on').siblings().removeClass('on');
            type = $(this).index();
            // reset the list data
            mescroll.resetUpScroll();
            // hide back to top button
            mescroll.hideTopBtn();
        });
        function hide_foot(){
            $('.footer').hide();
        }
        function show_foot(){
            $('.footer').show();
        }
        function next(p, id) {
            if (p == 1) {
                // pop-up window -- private password
                mui.confirm('<div class="gender_pop" style="padding:5px 10px;"><p><input onfocus="hide_foot()" onblur="show_foot()" class="p_inp password" type=" password" placeholder="Please enter a private password"></p></div>', 'Please enter a private password', ['Cancel', 'OK'], function (e) {
                    if (e.index === 1) {
                        password = $('.password').val();
                        if (password == '') {
                            mui.toast("Please enter your private password!");
                            return false;
                        } else {
                            $('.mui-popup-button:last-child').html('Submitting...');
                            $('.mui-popup-button:last-child').addClass('mui-disabled');
                            $post("/api/auction/into_auction", { id: id, password: password }, function (data) {
                                $('.mui-popup-button:last-child').html('OK');
                                $('.mui-popup-button:last-child').removeClass('mui-disabled');
                                if (data.status == 1) {
                                    window.location.href = '/wap/user/auction_detail.html?id=' + id;
                                } else {
                                    mui.toast(data.msg);
                                }
                            });
                            return false;
                        }
                    } else {
                    }
                }, 'div');
            } else {
                window.location.href = '/wap/user/auction_detail.html?id=' + id;
            }
        }
        //Create a MeScroll object, the internal pull-down refresh is enabled by default, up.callback is automatically executed, and the list data is refreshed;
        var mescroll = new MeScroll("mescroll", {
            up: {
                callback: getListData, //Pull-up callback, which can be abbreviated here; equivalent to callback: function (page) { getListData(page); }
                isBounce: false, //The ios bounce and parsing are prohibited here (be sure to read carefully, especially the last point): http://www.mescroll.com/qa.html#q10
                noMoreSize: 5, //If the list has no data, you can set the total number of lists to be greater than half a page before displaying no more data; avoid too little list data (for example, only one piece of data), it will not look good to display no more data; Default 5
                empty: {
                    icon: "/static/wap/images/none4.png", //icon, default null
                    tip: "No data at the moment~~~", //Tips
                },
                clearEmptyId: "dataList", //equivalent to setting clearId and empty.warpId at the same time; simplified writing; default null; note that this cannot be configured in vue
                toTop: { //Configure back to top button
                    src: "/static/wap/images/top.png", //default scroll to 1000px display, configurable offset modification
                    offset: 1000
                },
                lazyLoad: {
                    use: true // Whether to enable lazy loading, default false
                },
                htmlNodata: '<p class="upwarp-nodata">No more</p>',
                page: {
                    num: 0,
                    size: 10,
                    time: null
                },
                offset: 150,
                loadFull: {
                    use: true,
                    delay: 500
                }
            }
        });

        function getListData(page) {
            // load data online
            setTimeout(function () {
                $get('/api/auction/auction_list', { page: page.num, type: type, limit: page.size }, function (data) {
                    if (data.status == 1) {
                        //--- Product list ---
                        var curPageData = '';
                        if (data.data.list) {
                            curPageData = data.data.list;
                        } else {
                            curPageData = data.data;
                        }
                        mescroll.endSuccess(curPageData.length);
                        var list = '';
                        for (var i in curPageData) {
                            curPageData[i].goods_img = curPageData[i].goods_img.split(',')[0];
                            list += template('list', curPageData[i]);
                        }
                        $('#dataList').append(list);
                    } else {
                        mescroll.endErr();
                    }
                });
            }, 1000);
        };
    </script>
</body>

</html>