{include file="public/header" /}
</head>
<body>
<header class="mui-bar mui-bar-nav" id="header">
    <a class="back-page mui-icon mui-icon-left-nav mui-pull-left" href="javascript:;"></a>
    <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="javascript:void(0);"></a>
    <h1 class="mui-title">Recharge history</h1>
    </header>
    <div class="mui-content">
        <ul class="ag_detail">
            <li>
                <div class="ag_detail_fl">
                    <h3>Top up</h3>
                    <p>October 11, 2019 11:12:00</p>
            </div>
            <h2>-200.00</h2>
        </li>
    </ul>
</div>

{include file="public/head_nav"/}
{include file="public/footer" /}
</body>
</html>