{include file="public/header" /}
</head>
<body>
<header class="mui-bar mui-bar-nav" id="header">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="javascript:;"></a>
    <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="javascript:;"></a>
    <h1 class="mui-title">Bind phone number</h1>
    </header>
    <div class="mui-content register-content">
        <div class="mb10"></div>
        <form class="mui-input-group xx_form">
            <div class="mui-input-row mui_phone">
                <div class="m_row flex_between">
                    <select id="country_code">
                        <!-- <option value="">+86China</option> -->
                    </select>
                    <input type="tel" id="phone" placeholder="Please enter your phone number">
                </div>
            </div>
            <div class="mui-input-row">
                <label>Captcha</label>
                <input type="text" id="verify" placeholder="Please enter the verification code" style="width: 46%;float: left;">
                <button class="btn_code fr" id="btn_code" type="button" style="margin-right: 0.05rem;">Get verification code</button>
            </div>
            <div class="mb30"></div>
            <div class="mui-button-row">
                <button type="button" id="submit_btn" class="submit_btn" onclick="return false;">Confirm binding</button>
            </div>
    </form>
</div>

{include file="public/head_nav"/}
{include file="public/footer"/}
<script type="text/javascript">
// get country code
get_select();
function get_select(){
    $get("/api/user/get_country_code", { }, function (d) {
        if (d.code == 1) {
            var list="";
            for(var i in d.data){
                list+='<option value="'+d.data[i].id+'">+'+d.data[i].id+d.data[i].name+'</option>';
            }
            $('#country_code').html(list);
        } else{
            mui.toast(d.msg);
        }
    });
};
// Modify phone number or email
$('#submit_btn').on('tap', function () {
    var phone = $('#phone').val();
    var verify = $('#verify').val();
    var check_type = 'mobile';

    if (phone=="") {
        mui.toast('Please enter the phone');
    } else if (verify=="") {
        mui.toast('Please enter the verification code');
    } else {
    $get("/api/user/send_bind_mobile", { check_type:check_type,phone:phone,verify:verify }, function (d) {
        mui.toast(d.msg);
        if (d.code == 1) {
            setTimeout(function () {
                mui.back();
            }, 1000);
        }
    });
    }
});
// get verification code
$('#btn_code').click(function(){
    var country_code=$('#country_code').val();
    var phone=$('#phone').val();
    var check_type = 'mobile';
    var obj = $('#btn_code');
    
    if(phone==''){
        mui.toast('Please enter the phone number');
    } else{
    $get("/api/user/send_bang_verifys", { country_code:country_code,phone:phone,check_type:check_type }, function (d) {
        mui.toast(d.msg);       
        if (d.code == 1) {
            settime(obj);
        } else{            
        }         
    });
    }
});
</script>
</body>
</html>