{include file="public/header" /}
</head>
<body>
<header class="mui-bar mui-bar-nav" id="header">
    <a class="back-page mui-icon mui-icon-left-nav mui-pull-left" href="javascript:;"></a>
    <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="javascript:;"></a>
    <h1 class="mui-title">Payment password</h1>
</header>
<div class="mui-content register-content">
    <div class="mb10"></div>
    <form class="mui-input-group xx_form">
        <div class="mui-input-row">
            <label>Payment Password</label>
            <input type="password" id="password" placeholder="Please enter payment password">
        </div>
        <div class="mui-input-row">
            <label>Confirm Password</label>
            <input type="password" id="repassword" placeholder="Confirm payment password">
        </div>
        <div class="mui-input-row">
            <label>Captcha</label>
            <input type="text" id="verify" placeholder="Please enter the verification code" style="width: 46%;float: left;">
            <button class="btn_code fr bg-gold" id="btn_code" type="button" style="margin-right: 0.05rem;">Get verification code</button>
        </div>
        
    </form>
    <div class="mb30"></div>
    <div class="mui-button-row">
        <button type="button" id="submit_btn" class="submit_btn  bg-gold" onclick="return false;">Confirm the changes</button>
    </div>
</div>

{include file="public/head_nav"/}
{include file="public/footer"/}
<script type="text/javascript">
// Modify payment password
$('#submit_btn').on('tap', function () {
    var password = $('#password').val();
    var repassword = $('#repassword').val();
    var verify = $('#verify').val();

    if (password=="") {
        mui.toast('Please enter the payment password');
    } else if (repassword!=password) {
        mui.toast('The two passwords are different');
    } else if (verify=="") {
        mui.toast('Please enter the verification code');
    } else {
    $get("/api/user/update_zhifu", { password:password,repassword:repassword,verify:verify }, function (d) {
        mui.toast(d.msg);
        if (d.code == 1) {
            setTimeout(function () {
                mui.back();
            }, 1000);
        }
    });
    }
});
 
var check_type='';
$get('/api/user/getuserinfo',{},function(data){
    if(data.code==1){        
        if(data.data.email!=""){
            check_type='email';
        }
        if(data.data.mobile!=""){
            check_type='mobile';
        }        
    }else{
        // mui.toast(data.msg);
    }                
});
// get verification code
$('#btn_code').click(function(){
    var obj = $('#btn_code');
    if(check_type==""){
        return;
    }
    $get("/api/user/send_verify", { check_type:check_type }, function (d) {
        mui.toast(d.msg);       
        if (d.code == 1) {
            settime(obj);
        } else{            
        }         
    });
});
</script>
</body>
</html>