<script src="__JS__/jquery.3.1.1.js"></script>
<script src="__JS__/mui.min.js"></script>
<script src="__JS__/mui.picker.min.js"></script>
<script src="__JS__/mui.poppicker.js"></script>
<script src="__JS__/mui.previewimage.js"></script>
<script src="__JS__/mui.zoom.js"></script>
<script src="__JS__/swiper/swiper.min.js"></script>
<script src="__JS__/template.js"></script>
<script src="__JS__/layer/layer.js"></script>
<script src="__JS__/mescroll/mescroll.min.js"></script>
<script src="__JS__/clipboard.min.js"></script>
<script src="__JS__/imgUpload.js"></script>
<script src="__JS__/imgFileupload.js"></script>
<script>
    var timestamp = new Date().getTime();
    document.write('<script src="__JS__/common.js?v=' + timestamp + '"><\/script>');
</script>
<script src="__JS__/jquery.qrcode.min.js"></script>
<script src="__JS__/city.data-3.js"></script>