
    <!-- navigation bar -->
        <div class="login_pop">
            <div class="login_jiantou"></div>
            <div class="login_pop_a">
                <a href="/wap/index/index.html">
                    <i class="iconfont icon-shouye"></i>
                    <span>Home</span>
                </a>
                <a href="/wap/index/classify.html">
                    <i class="iconfont icon-fenlei"></i>
                    <span>Categories</span>
                </a>
                <!-- <a href="/wap/index/shop_cat.html">
                    <i class="iconfont icon-gouwuche"></i>
                    <span>Cart</span>
                </a> -->
                <a href="/wap/user/my.html">
                    <i class="iconfont icon-wode"></i>
                    <span>My</span> 
            </a>
        </div>
    </div>