 <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="__CSS__/mui.min.css">
        <link rel="stylesheet" href="__CSS__/mui.picker.min.css">
        <link rel="stylesheet" href="__CSS__/mui.poppicker.css">
        <link rel="stylesheet" href="__JS__/mescroll/mescroll.min.css">
        <link rel="stylesheet" href="__JS__/swiper/swiper.min.css">
        <script src="__JS__/rem.js"></script>
        <title>{$seo.title}</title>
        <script>
            var timestamp=new Date().getTime();
            document.write('<link rel="stylesheet" href="__CSS__/public.css?v='+timestamp+'">');
            document.write('<link rel="stylesheet" href="__CSS__/style.css?v='+timestamp+'">');
            document.write('<link rel="stylesheet" href="__CSS__/style1.css?v='+timestamp+'">');
            document.write('<link rel="stylesheet" href="__CSS__/style2.css?v='+timestamp+'">');
            document.write('<link rel="stylesheet" href="__CSS__/style3.css?v='+timestamp+'">');
        </script>