
<!-- Bottom navigation bar -->
<div class="footer" id="footer">
    <a class="mui-tab-item {eq name='nav' value='index'} mui-active{/eq}" href="javascript:;" data-href="/wap/index/index. html" data-login="false">
        <span class="mui-icon">
            <img src="__IMG__/nav/nav1.1.png" alt="__IMG__/nav/nav1.1.png" title="__IMG__/nav/nav1.2.png">
        </span>
        <span class="mui-tab-label">Home</span>
    </a>
    <a class="mui-tab-item {eq name='nav' value='classify'} mui-active{/eq}" href="javascript:;" data-href="/wap/index/classify. html" data-login="false">
        <span class="mui-icon">
            <img src="__IMG__/nav/nav2.1.png" alt="__IMG__/nav/nav2.1.png" title="__IMG__/nav/nav2.2.png">
        </span>
        <span class="mui-tab-label">Classification</span>
    </a>
    <a class="mui-tab-item {eq name='nav' value='exchange'} mui-active{/eq}" href="javascript:;" data-href="no_href" data-login=" false">
        <span class="mui-icon">
            <img src="__IMG__/nav/nav3.1.png" alt="__IMG__/nav/nav3.1.png" title="__IMG__/nav/nav3.2.png">
        </span>
        <span class="mui-tab-label">School of Business</span>
    </a>
    <!-- <a class="mui-tab-item {eq name='nav' value='shop_cat'} mui-active{/eq}" href="javascript:;" data-href="/wap/index/shop_cat.html" data-login="false"> -->
    <!-- <a class="mui-tab-item {eq name='nav' value='shop_cat'} mui-active{/eq}" href="javascript:;" data-href="no_href" data-login="false">
        <span class="mui-icon">
            <img src="__IMG__/nav/nav4.1.png" alt="__IMG__/nav/nav4.1.png" title="__IMG__/nav/nav4.2.png">
        </span>
        <span class="mui-tab-label">Auction</span>
            </a> -->
            <a class="mui-tab-item {eq name='nav' value='auction_hall'} mui-active{/eq}" href="javascript:;" data-href="/wap/user/auction_hall. html" data-login="false">
        <span class="mui-icon">
            <img src="__IMG__/nav/nav4.1.png" alt="__IMG__/nav/nav4.1.png" title="__IMG__/nav/nav4.2.png">
        </span>
        <span class="mui-tab-label">Auction</span>
        </a>
            <a class="mui-tab-item {eq name='nav' value='my'} mui-active{/eq}" href="javascript:;" data-href="/wap/user/my. html" data-login="true">
                <span class="mui-icon">
                    <img src="__IMG__/nav/nav5.1.png" alt="__IMG__/nav/nav5.1.png" title="__IMG__/nav/nav5.2.png">
                </span>
                <span class="mui-tab-label">Personal Center</span>
    </a>
   
</div>
