{include file="public/header" /}
</head>

<body>
    <header class="mui-bar mui-bar-nav index_header" id="header">
        <a class="back-page mui-icon mui-icon-left-nav mui-pull-left" href="javascript:;"></a>
        <div class="mui-title">Retrieve password</div>
                <h1 class="mui-title"></h1>
            </header>
            <div class="mui-content" style="padding-bottom:0!important;">
                <div class="mb10"></div>
                <div class="goods_fenlei_tab">
                    <div class="on" data-type="mobile">Mobile phone recovery</div>
                    <div data-type="email">Email recovery</div>
                </div>
                <div class="mb20"></div>
                <form class="mui-input-group mui_form login_form">
                    <div class="mui-input-row mui_phone">
                        <!-- <select id="country_code">
                        <option value="">+86China</option>
                    </select> -->
                        <input type="text" id="phone" placeholder="Please enter the phone number" maxlength="11">
                    </div>
                    <div class="mui-input-row mui_email" style="display: none;">
                        <input type="email" id="email" placeholder="Please enter your email address" maxlength="11">
                    </div>
                    <div class="mui-input-row">
                        <input type="password" id="password" maxlength="16" placeholder="Please enter a new password">
                    </div>
                    <div class="mui-input-row">
                        <input type="password" id="con_password" maxlength="16" placeholder="Confirm new login password">
            </div>
            <div class="mui-input-row">
                <input type="text" id="verify" placeholder="Please enter the verification code" style="width: 50%;">
                <button type="button" class="btn btn_code bg-gold" id="verify_btn" style="width: 40%;">Get verification code</button>
            </div>
            <div class="mb30"></div>
            <div class="mui-button-row">
                <button type="button" id="submit_btn" class="submit_btn bg-gold">OK</button>
            </div>
        </form>
    </div>
    {include file="public/head_nav"/} {include file="public/footer" /}

    <script type="text/javascript">
        get_select();

        function get_select() {
            $get("/api/user/get_country_code", {}, function(d) {
                if (d.code == 1) {
                    var list = "";
                    for (var i in d.data) {
                        list += '<option value="' + d.data[i].id + '">+' + d.data[i].id + d.data[i].name + '</option>';
                    }
                    $('#country_code').html(list);
                } else {
                    mui.toast(d.msg);
                }
            });
        };
       // Tab
        $('body').on('click', '.goods_fenlei_tab>div', function() {
            $(this).addClass('on').siblings().removeClass('on');
            var type = $(this).attr('data-type');
            if (type == "mobile") {
                $('.mui_phone').show();
                $('.mui_email').hide();
            } else {
                $('.mui_email').show();
                $('.mui_phone').hide();
            }
        });
        // get verification code
        $('#verify_btn').on('click', function() {
            var obj = $('#verify_btn');
            var phone;
            var check_type = $('.check_type').attr('data-type');

            if (check_type == "email") {
                phone = $('#email').val();
            } else {
                phone = $('#phone').val();
            }

            if (phone == '') {
                mui.toast('Please enter your phone number or email');
            } else {
                $post("/api/user/send_zhaohui_verify", {
                    phone: phone,
                    check_type: check_type
                }, function(d) {
                    mui.toast(d.msg);
                    if (d.code == 1) {
                        settime(obj);
                    } else {}
                });
            }
        });
        //Confirm the changes
        $('#submit_btn').on('tap', function() {
            var phone;
            var password = $('#password').val();
            var repassword = $('#con_password').val();
            var verify = $('#verify').val();
            var check_type = $('.check_type').attr('data-type');

            if (check_type == "email") {
                phone = $('#email').val();
            } else {
                phone = $('#phone').val();
            }

            if (phone == '') {
               mui.toast('Mobile phone number cannot be empty');
            } else if (password == '') {
                mui.toast('Please set the login password');
            } else if (password != repassword) {
                mui.toast('The two passwords are inconsistent');
            } else if (verify == '') {
                mui.toast('Verification code cannot be empty');
            } else {
                btn_disabled($(this),'Committing...');
                $get("/api/user/getback_password", {
                    check_type: check_type,
                    phone: phone,
                    password: password,
                    verify: verify
                }, function(d) {
                    mui.toast(d.msg);
                    if (d.code == 1) {
                        setTimeout(function() {
                            location.href = '/wap/index/login.html';
                        }, 1000);
                    }
                    btn_abled($(this),'OK');
                },function(){
                    btn_abled($(this),'OK');
                });
            }
        });
    </script>
</body>

</html>