{include file="public/header"/}

</head>
<body style="background: #f8f8f8;">
    <header class="mui-bar mui-bar-nav index_header shop_head" id="header">
        <a class="back-page mui-icon mui-icon-left-nav mui-pull-left" href="javascript:;"></a>
        <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="javascript:void(0);"></a>
        <h1 class="mui-title">Seckill</h1>
    </header>
    <div class="mui-content street_content">
        <div class="seconds_hd">
            <ul>
                <li class="on" start-data="2019/04/15 16:00:00" end-data="2019/04/15 18:00:00" data-starturl="1555315200" data-endyrl= "1555322400"><h3>16:00</h3><p>Seckill</p></li>
                <li start-data="2019/04/15 18:00:00" end-data="2019/04/15 20:00:00" data-starturl="1555322400" data-endurl="1555329600">< h3>18:00</h3><p>Coming soon</p></li>
                <li start-data="2019/04/15 20:00:00" end-data="2019/04/15 22:00:00" data-starturl="1555329600" data-endurl="1555336800">< h3>20:00</h3><p>Coming soon</p></li>
                <li start-data="2019/04/15 22:00:00" end-data="2019/04/15 00:00:00" data-starturl="1555336800" data-endurl="1555344000">< h3>22:00</h3><p>Coming soon</p></li>
                <li start-data="2019/04/15 00:00:00" end-data="2019/04/15 02:00:00" data-starturl="1555344000" data-endurl="1555351200">< h3>00:00</h3><p>Coming soon</p></li>
            </ul>
        </div>
        <div class="seconds_nowkill">
           <p class="red kill_txt">In the second kill, first order, first served~</p>
            <p class="kill_time">1 hour 42 minutes 32 seconds to end</p>
        </div>
        <div class="seconds_bd">
            <div class="swiper-container seconds_bdbody">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                    <div class="seconds_li mui-clearfix"><a href="/wap/index/goods_info.html">
                        <img class="fl" src="__IMG__/touxiang.png" alt="">
                        <div class="seconds_txt fr">
                            <p class="sec_title mui-ellipsis-2">Redmi Note 7 new products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on sale</p> p>
                            <p class="sec_p sec_red">KRC <span>1200</span></p>
                            <p class="sec_hui">KRC 1299</p>
                            <button class="sec_btnred fr">Grab now <i class="mui-icon mui-icon-arrowright"></i></button>
                        </div>
                    </a></div>
                    <div class="seconds_li mui-clearfix"><a href="/wap/index/goods_info.html">
                        <img class="fl" src="__IMG__/touxiang.png" alt="">
                        <div class="seconds_txt fr">
                         <p class="sec_title mui-ellipsis-2">Redmi Note 7 new products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on sale</p> p>
                            <p class="sec_p sec_red">KRC <span>1200</span></p>
                            <p class="sec_hui">KRC 1299</p>
                            <button class="sec_btnred fr">Grab now <i class="mui-icon mui-icon-arrowright"></i></button>
                        </div>
                    </a></div>
                    <div class="seconds_li mui-clearfix"><a href="/wap/index/goods_info.html">
                        <img class="fl" src="__IMG__/touxiang.png" alt="">
                        <div class="seconds_txt fr">
                           <p class="sec_title mui-ellipsis-2">Redmi Note 7 new products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on sale</p> p>
                            <p class="sec_p sec_red">KRC <span>1200</span></p>
                            <p class="sec_hui">KRC 1299</p>
                            <button class="sec_btnred fr">Grab now <i class="mui-icon mui-icon-arrowright"></i></button>
                        </div>
                    </a></div>
                    <div class="seconds_li mui-clearfix"><a href="/wap/index/goods_info.html">
                        <img class="fl" src="__IMG__/touxiang.png" alt="">
                        <div class="seconds_txt fr">
                            <p class="sec_title mui-ellipsis-2">Redmi Note 7 new products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on sale</p> p>
                            <p class="sec_p sec_red">KRC <span>1200</span></p>
                            <p class="sec_hui">KRC 1299</p>
                            <button class="sec_btnred fr">Grab now <i class="mui-icon mui-icon-arrowright"></i></button>
                        </div>
                    </a></div>
                    </div>   
                    <div class="swiper-slide">
                    <div class="seconds_li mui-clearfix"><a href="/wap/index/goods_info.html">
                        <img class="fl" src="__IMG__/touxiang.png" alt="">
                        <div class="seconds_txt fr">
                            <p class="sec_title mui-ellipsis-2">Redmi Note 7 new products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on sale</p> p>
                            <p class="sec_p sec_green">KRC <span>1200</span></p>
                            <p class="sec_hui">KRC 1299</p>
                            <button class="sec_btngreen fr">Remind me<i class="mui-icon mui-icon-arrowright"></i></button>
                        </div>
                    </a></div>
                    </div>
                    <div class="swiper-slide">
                    <div class="seconds_li mui-clearfix"><a href="/wap/index/goods_info.html">
                        <img class="fl" src="__IMG__/touxiang.png" alt="">
                        <div class="seconds_txt fr">
                            <p class="sec_title mui-ellipsis-2">Redmi Note 7 new products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on sale</p> p>
                            <p class="sec_p sec_green">KRC <span>1200</span></p>
                            <p class="sec_hui">KRC 1299</p>
                            <button class="sec_btngreen fr">Remind me<i class="mui-icon mui-icon-arrowright"></i></button>
                        </div>
                    </a></div>  
                    </div>                   
                    <div class="swiper-slide">     
                    <div class="seconds_li mui-clearfix"><a href="/wap/index/goods_info.html">
                        <img class="fl" src="__IMG__/touxiang.png" alt="">
                        <div class="seconds_txt fr">
                            <p class="sec_title mui-ellipsis-2">Redmi Note 7 new products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on sale</p> p>
                            <p class="sec_p sec_green">KRC <span>1200</span></p>
                            <p class="sec_hui">KRC 1299</p>
                            <button class="sec_btngreen fr">Remind me<i class="mui-icon mui-icon-arrowright"></i></button>
                        </div>
                    </a></div>
                    </div>
                    <div class="swiper-slide">
                    <div class="seconds_li mui-clearfix"><a href="/wap/index/goods_info.html">
                        <img class="fl" src="__IMG__/touxiang.png" alt="">
                        <div class="seconds_txt fr">
                            <p class="sec_title mui-ellipsis-2">Redmi Note 7 new products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on saleNew products on sale</p> p>
                            <p class="sec_p sec_green">KRC <span>1200</span></p>
                            <p class="sec_hui">KRC 1299</p>
                            <button class="sec_btngreen fr">Remind me<i class="mui-icon mui-icon-arrowright"></i></button>
                        </div>
                    </a></div>  
                    </div>              
                </div>
            </div>   
            
        </div>
       
    </div>
    {include file="public/head_nav"/}
    {include file="public/footer"/}
    <script>
        var secondSwiper=new Swiper('.seconds_bdbody',{
            direction: 'horizontal',
            autoHeight: true,
            on:{
                slideChangeTransitionStart: function(){
                    $('.seconds_hd ul>li').eq(this.activeIndex).addClass('on').siblings().removeClass('on');
                },
            }
        })
        $('.seconds_hd ul>li').on('click',function(){
            $(this).addClass('on').siblings().removeClass('on');
            secondSwiper.slideTo($(this).index(),200,false);
        })
        /* Spike countdown */
        function GetRTime(end_time){
            var EndTime= new Date(end_time);
            var NowTime = new Date();
            var t =EndTime.getTime() - NowTime.getTime();
            var d=0;
            var h=0;
            var m=0;
            var s=0;
            var data="10 seconds";
            if(t>=0){
                d=Math.floor(t/1000/60/60/24);
                h=Math.floor(t/1000/60/60%24);
                m=Math.floor(t/1000/60%60);
                s=Math.floor(t/1000%60);
                data = (d<10?"0"+d:d) + "day" +(h<10?"0"+h:h) + "hour" +(m<10?"0"+m:m ) + "minutes"+(s<10?"0"+s:s) + "seconds";
            }
            return data;
        }
        /* Header navigation bar */
        $('#menu').click(function(e){
            $('.login_pop').toggle(); 
            e.stopPropagation();                     
        })       
        $('body').click(function(){
            $('.login_pop').hide();          
        }) 
        
    </script>
</body>
</html>