{include file="public/header"/}

</head>
<body style="background: #f8f8f8;">
    <div class="mui-content spell_content">
        <div class="spell_navbg">
            <div class="spell_header">
                <ul class="mui-clearfix">
                    <li class="on"><a href="javascript:void(0);">Home</a></li>
                    <li><a href="spell_shop.html">Mobile Digital</a></li>
                    <li><a href="javascript:void(0);">Computer Office</a></li>
                    <li><a href="javascript:void(0);">Furniture</a></li>
                    <li><a href="javascript:void(0);">Beauty and Personal Care</a></li>
                    <li><a href="javascript:void(0);">Sports Outdoors</a></li>
                    <li><a href="javascript:void(0);">Food Specialty</a></li>
                    <li><a href="javascript:void(0);">Home appliances</a></li>
                    <li><a href="javascript:void(0);">Book Audio</a></li>
                    <li><a href="javascript:void(0);">Accessories related</a></li>
                    <li><a href="javascript:void(0);">Virtual Goods</a></li>
                    <li><a href="javascript:void(0);">Medical Interests</a></li>
                    <li><a href="javascript:void(0);">Nail shop outfit</a></li>
                </ul>
            </div>
        </div>
        <div class="spell_lunbo">
            <img src="__IMG__/img_3.jpg" alt="">
        </div>
        <div class="spell_nav">
            <a href="search.html">
                <i class="iconfont icon-sousuo i_green"></i>
                <span>Search</span>
            </a>
            <a href="seconds_kill.html">
                <i class="iconfont icon-dalaba i_red"></i>
                <span>Seckill</span>
            </a>
            <a href="/wap/Activity/group_list.html">
                <i class="iconfont icon-huo i_purple"></i>
                <span>Group purchase</span>
            </a>
            <a href="/wap/index/brand.html">
                <i class="iconfont icon-pinpai i_yellow"></i>
                <span>Brand Street</span>
            </a>
            <a href="/wap/Activity/integralmall.html">
                <i class="iconfont icon-jifenquanguanli i_orange"></i>
                <span>Points Mall</span>
            </a>
        </div>
        <div class="spell_floor mui-clearfix">
            <a class="floor_left fl" href="javascript:void(0);"><img src="__IMG__/img_6.jpg"/></a>
            <div class="floor_right fr">
                <a class="index_aimg" href="javascript:void(0);"><img src="__IMG__/img_5.png"></a>
                <a class="index_aimg" href="javascript:void(0);"><img src="__IMG__/img_5.png"></a>
            </div>
        </div>
        <div class="index_floor mui-clearfix">  
            <a class="index_aimg" href="javascript:void(0);"><img class="index_floorimg" src="__IMG__/img_4.png"/></a>
        </div>
        <p class="spell_none">no more</p>
    </div>
    {include file="public/nav"/}
    {include file="public/footer"/}
    <script>
    </script>
</body>
</html>