{include file="public/header"/}
</head>
<body style="background: #f0f0f0;">
<header class="mui-bar mui-bar-nav bg_white head_line" id="header">
    <a class="back-page mui-icon mui-icon-left-nav mui-pull-left" href="javascript:;"></a>
    <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="javascript:void(0);"></a>
    <h1 class="mui-title">Baby management</h1>
    </header>
    <div class="mui-content">
        <div class="dotey_ul">
            <div class="dotey_list">
                <div class="dotey_up flex_center">
                    <img src="__IMG__/img_3.png" alt="">
                    <div class="dotey_txt">
                        <h3 class="mui-mui-ellipsis-2">Spring/Summer New</h3>
                        <p class="text_orange">KRC 328.00</p>
                        <span>Inventory: 0</span>
                    </div>
                </div>
                <ul class="dotey_ull">
                    <li><a href="javascript:;">Listed</a></li>
                    <li><a href="javascript:;">Delete</a></li>
                </ul>
            </div>
            <div class="dotey_list">
                <div class="dotey_up flex_center">
                    <img src="__IMG__/img_3.png" alt="">
                    <div class="dotey_txt">
                        <h3 class="mui-mui-ellipsis-2">Spring/Summer New</h3>
                        <p class="text_orange">KRC 328.00</p>
                        <span>Inventory: 0</span>
                    </div>
                </div>
                <ul class="dotey_ull">
                    <li><a href="javascript:;">Listed</a></li>
                    <li><a href="javascript:;">Delete</a></li>
            </ul>
        </div>
    </div>
</div>
{include file="public/head_nav"/}
{include file="public/footer"/}
<script>

</script>
</body>
</html>