{include file="public/header"/}
</head>
<body style="background: #f0f0f0;">
<header class="mui-bar mui-bar-nav bg_white" id="header">
    <a class="back-page mui-icon mui-icon-left-nav mui-pull-left" href="javascript:;"></a>
    <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="javascript:void(0);"></a>
    <h1 class="mui-title">I want to open a shop</h1>
</header>
<div class="mui-content">
    <div class="open_banner"><img src="__IMG__/img_24.jpg" alt=""></div>
    <ul class="open_steps">
        <li>
            <div class="steps_up">
                <span class="mui-badge b_white">1</span>
                <p>Submit store information and complete the license</p>
            </div>
            <p class="op_hui">Please submit real and effective information! </p>
        </li>
        <li>
            <div class="steps_up">
                <span class="mui-badge b_white">2</span>
                <p>Audit qualifications, store shelves</p>
            </div>
            <p class="op_hui">After the store information is submitted for review, the review result will be notified to you within <span class="op_orange">1-3 working days</span>
            </p>
        </li>
    </ul>
    <div class="open_mes">
        <h1>After the application is successful, we will charge the service fee according to the following standards:</h1>
        <p>A service fee: standard introduction and rate introduction...</p>
        <p>B Service Charges: Standard Introduction and Rate Introduction...</p>
        <p>C Service Fee: Standard Introduction and Rate Introduction...</p>
    </div>
    <div class="why_div hide">
        <p class="text_red">Reason for audit failure: <span id="why"></span></p>
    </div>

</div>
<div class="open_go">
    <a href="javascript:;" onclick="open_go();">Open now</a>
</div>

{include file="public/head_nav"/}
{include file="public/footer"/}
<script>
    $get('/api/merchant/apply_merchant',{},function(res){

        if(res.data.info){
            if( res.data.info.sh_status==0){
                $('.why_div p').html('Under review...');
                $('.open_go').hide();
            } else if( res.data.info.sh_status==2){
                $('#why').html(res.data.info.remarks);
            }
            $('.why_div').show();
        }else if(res.status==3){
            $('.why_div p').html(res.msg);
            $('.open_go').hide();
            $('.why_div').show();
        }
        
    });
    // 
    function get_data(){
        $get('/api/merchant/apply_merchant',{},function(res){
            if(res.status==3||res.status==1){
                mui.toast(res.msg);
            }else{
                window.location.href='/wap/store/open_info.html';
            }
            
        });
    }
    function open_go(){
        get_data();
    }
</script>
</body>
</html>