{include file="public/header" /}
<style>
    #mescroll{
        position: fixed;
        top: 44px;
        bottom: 0px;
        left: 0;
        width: 100%;
        height:auto;
    }
    .text_green{
        color:#28bb5b!important;
    }
</style>
</head>
<body>
<header class="mui-bar mui-bar-nav" id="header">
    <a class="back-page mui-icon mui-icon-left-nav mui-pull-left" href="javascript:;"></a>
    <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="javascript:void(0);"></a>
    <h1 class="mui-title">Sales Log</h1>
    </header>
    <div class="mui-content">
        
        <div class="mescroll" id="mescroll">
            <div class="mb10"></div>
            <div class="pool_head bg_red_radial" style="height:auto;padding-top: 0.25rem;">
                <h1 id="this_money">0.00</h1>
                <p>Current balance</p>
                <div class="mb20"></div>
                <!-- <a href="/wap/store/pool_liushui.html">To recharge</a> -->
        </div>
        <div class="mb20"></div>
        <ul class="pool_ul" id="dataList">
            
        </ul>  
    </div>   
   
</div>

{include file="public/head_nav"/}
{include file="public/footer" /}
<script type="text/template" id="list">
    <li>
        <div class="pool_txt">
            <h3>{{z_remarks}}</h3>
            <p>{{create_time}}</p>
        </div>
        {{ if  number>0 }}
        <p class="text_green">{{number}}</p>
        {{ else }}
        <p class="text_red">{{number}}</p>
        {{ /if end }}
    </li>
</script>
<script>
   //Create a MeScroll object, the internal pull-down refresh is enabled by default, up.callback is automatically executed, and the list data is refreshed;
   var mescroll = new MeScroll("mescroll", {
       up: {
           callback: getListData,
           isBounce: false,
           noMoreSize: 3,
           empty: {
               icon: "/static/wap/images/none2.png", //icon, default null
               tip: "There is no hatching record for now~~", //Tips
           },
           clearEmptyId: "dataList",
           toTop: {
               src: "/static/wap/images/top.png", //default scroll to 1000px display, configurable offset modification
               offset: 1000
           },
           lazyLoad: {
               use: true // Whether to enable lazy loading, default false
        },
        page: {
            num: 0,
            size:10,
            time: null
        },
        htmlNodata:'<p class="upwarp-nodata">-- all loaded --</p>',
        offset: 150,
        loadFull: {
            use: true,
            delay: 500
        }
    }
});   
function getListData(page){
     // load data online
          getListDataFromNet(page.num, page.size, function(curPageData) {
             //mescroll will automatically judge the list according to the passed parameters, if there is no data, it will prompt empty; if there is no next page of data in the list, it will prompt no more data;
             mescroll.endSuccess(curPageData.length);
             //set list data
             setListData(curPageData);
         }, function() {
             //Callback for networking failure, hide the status of pull-down refresh and pull-up loading;
        mescroll.endErr();
    });
}
function setListData(curPageData){
    var list='';
    for(var i in curPageData){
        curPageData[i].create_time=new Date(curPageData[i].create_time*1000).Format("yyyy-MM-dd hh:mm:ss"); 
        list+=template('list',curPageData[i]);
    }    
    $('#dataList').append(list);
}
function getListDataFromNet(pageNum,pageSize,successCallback,errorCallback) {
    // Delay one second, simulate networking
    $get('/api/money/pool_sale_list',{page:pageNum},function(d){
        if(d.status==1){   
            $('#this_money').html(d.money);
            setTimeout(function () {                   
                var curPageData=d.data;
                var listData = [];            
                for(var i in curPageData){
                    if(i==curPageData.length) break;
                    listData.push(curPageData[i]);
                }
                successCallback(listData);
            },1000);
        } else {
            mescroll.endErr();
        }
    });
    
}			

</script>
</body>
</html>