{include file="public/header" /}
<style>
#header .mui-icon,
#header .mui-title{ color: #fff !important; }
</style>
</head>
<body style="background: #f0f0f0;">
<header class="mui-bar mui-bar-nav bg_red_gradient" id="header">
    <a class="back-page mui-icon mui-icon-left-nav mui-pull-left" href="javascript:;"></a>
    <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="javascript:;"></a>
    <h1 class="mui-title">Store</h1>
    </header>
    <div class="mui-content small_shop_content">
        <div class="mb10"></div>
        <div class="small_shop bg_white">
            <div class="small_shop_top">
                <img src="__IMG__/touxiang.png" alt="">
                <p>Store name</p>
            </div>
            <ul class="small_shop_ul flex_center">
                <li>
                    <h3>0</h3>
                    <p>All products</p>
                </li>
                <li>
                    <h3>0</h3>
                    <p>New</p>
                </li>
                <li>
                    <h3>0</h3>
                    <p>Promotion</p>
            </li>
        </ul>
    </div>
    <div class="mb10"></div>
    <div class="index_title">
       <h1>New products</h1>
    </div>
    <ul class="goods_ul">
        <li><a href="/wap/index/goods_info.html">
            <img src="__IMG__/img_1.png" width="100%">
            <div class="goods_li_txt">
                <h1 class="mui-ellipsis-2">Frozen fresh strawberries quick frozen strawberries frozen strawberry juice fresh fruit baked cake butter strawberry ice cream 1kg save 3/5 free shipping</h1>
                <p><span>KRC </span>200.00</p>
                <span>0 sold</span>
            </div>
        </a></li>
        <li><a href="/wap/index/goods_info.html">
            <img src="__IMG__/img_2.png" width="100%">
            <div class="goods_li_txt">
                <h1 class="mui-ellipsis-2">Frozen fresh strawberries quick frozen strawberries frozen strawberry juice fresh fruit baked cake butter strawberry ice cream 1kg save 3/5 free shipping</h1>
                <p><span>KRC </span>200.00</p>
                <span>0 sold</span>
            </div>
        </a></li>
        <li><a href="/wap/index/goods_info.html">
            <img src="__IMG__/img_2.png" width="100%">
            <div class="goods_li_txt">
               <h1 class="mui-ellipsis-2">Frozen Fresh Strawberry Frozen Grass</h1>
                <p><span>KRC </span>200.00</p>
                <span>0 sold</span>
            </div>
        </a></li>
    </ul>
    
</div>

{include file="public/head_nav"/}
{include file="public/footer"/}
</body>
</html>